.body {
  position: absolute;
  width: 509px;
  height: 1024px;
  top: 0px;
  background: #ffffff;
}

.welcome {
  position: absolute;
  top: 126px;
  font-family: "Poppins";
  font-size: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #5d5871;
}

.text {
  position: absolute;
  top: 136px;
  font-family: "Poppins";
  font-size: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 130px;
  letter-spacing: 0.005em;
  color: #6d6b7a;
}

.sign {
  position: absolute;
  width: 68px;
  height: 30px;
  top: 223px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #5d5871;
}

.nameLabel {
  box-sizing: border-box;
  position: absolute;
  width: 381px;
  height: 44px;
  left: 995px;
  top: 295px;
  background: #ffffff;
  border: 1px solid #e6eaec;
  border-radius: 5px;
}

.usernameLabel {
  box-sizing: border-box;
  position: absolute;
  width: 381px;
  height: 44px;
  left: 995px;
  top: 376px;
  background: #ffffff;
  border: 1px solid #e6eaec;
  border-radius: 5px;
}

.emailLabel {
  box-sizing: border-box;
  position: absolute;
  width: 381px;
  height: 44px;
  left: 995px;
  top: 457px;
  background: #ffffff;
  border: 1px solid #e6eaec;
  border-radius: 5px;
}

.passwordLabel {
  box-sizing: border-box;
  position: absolute;
  width: 381px;
  height: 44px;
  left: 995px;
  top: 538px;
  background: #ffffff;
  border: 1px solid #e6eaec;
  border-radius: 5px;
}

.selectLabel {
  box-sizing: border-box;
  position: absolute;
  width: 381px;
  height: 44px;
  left: 995px;
  top: 619px;
  background: #ffffff;
  border: 1px solid #e6eaec;
  border-radius: 5px;
}
